@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend+Peta&family=Petit+Formal+Script&display=swap');

* {
	padding: 0;
	margin: 0;
}



body{
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid red;
	background-color: #eeeeee;
	font-size: 16px;
}

header {
	border: 2px solid red;
	height: 100px;
	background-color: #111111;
}

#logo {
	font-size: 2.5em;
	font-weight: 900;
	font-family: 'Lexend Peta', sans-serif;
	color: white;
	line-height: 1.3;
	padding: 10px;
	color: #eeeeee;
	float: left;
}

#logo h2 {
	border: 2px solid red;
}


nav {
	float: right;
	border: 2px solid red;
	margin-top: 20px;
}

nav a {
	text-decoration: none;
	margin-right: 20px;
	font-size: 25px;
	font-weight: 700;
	color: #eeeeee;
	line-height: 1.3;
}

main {
	border: 2px solid red;
}

#hero {
	height: 800px;
	border: 2px solid red;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url("../images/spa_background.jpg");
	background-size: cover;
}

#first_caption{
	text-align: center;
	font-size: 6em;
	letter-spacing: .2em;
	color: #eeeeee;
	line-height: 1.3;
	border: 2px solid red;
	margin-top: 100px;
	font-family: 'Nanum Brush Script', cursive;
}

#second_caption {
	text-align: center;
	font-size: 10em;
	font-family: 'Krona One', sans-serif;
	letter-spacing: .2em;
	color: #eeeeee;
	line-height: 1.3;
	border: 2px solid red;
	font-family: 'Nanum Brush Script', cursive;
}

#third_caption {
	font-family: 'Lexend Peta', sans-serif;
	border: 2px solid red;
	text-align: center;
	font-size: 4.38em;
	color: #eeeeee;
	line-height: 1.3;
}

#fourth_caption {
	border: 2px solid red;
	text-align: center;
	font-size: 3.13em;
	font-family: 'Petit Formal Script', cursive;
	color: #000000;
	line-height: 1.3;
	margin: 150px 40px;
}

#philo_caption {
	font-size: 30px;
	font-family: 'Petit Formal Script', cursive;
	border: 2px solid red;
	text-align: center;
	margin-top: 100px;
}

#philo_stmt {
	font-size: 1.88em;
	border: 2px solid red;
	text-align: center;
	margin-top: 20px;
}

#relax_aside{
	border: 2px solid black;
	width: 45%;
	padding: 20px;
	margin: 7em auto;
}

#relax_aside h1 {
	font-size: 5em;
	font-family: 'Nanum Brush Script', cursive;
}

#relax_aside h2 {
	font-size: 1.88em;
	font-family: 'Lexend Peta', sans-serif;
}

#relax_image {
	height: 450px;
	width: 450px;
}

#escape_aside{
	border: 2px solid black;
	width: 45%;
	padding: 20px;
	margin: 7em auto;
}

#escape_aside h1 {
	font-size: 5em;
	font-family: 'Nanum Brush Script', cursive;
}

#escape_aside h2 {
	font-size: 1.88em;
	font-family: 'Lexend Peta', sans-serif;
}

#escape_image {
	height: 450px;
	width: 450px;
}

#massage_aside {
	border: 2px solid red;
	height: 400px;
	width: 400px;
	margin: 40px;
	text-align: center;
	background-image: url("../images/massage_aside.jpg");
	background-size: cover;
}

#facials_aside {
	border: 2px solid red;
	height: 400px;
	width: 400px;
	margin: 40px;
	text-align: center;
	background-image: url("../images/facials_aside.jpg");
	background-size: cover;
}

#bodywork_aside {
	border: 2px solid red;
	height: 400px;
	width: 400px;
	margin: 40px;
	text-align: center;
	background-image: url("../images/bodywork_aside.jpg");
	background-size: cover;
}

button {
	font-size: 1.88em;
	text-align: center;
	padding: 10px;
	margin-top: 65%;
	background-color: #ba8f59;
	border-radius: 25px;
}


#footer h2 {
	font-size: 3.75em;
	font-family: 'Lexend Peta', sans-serif;
	color: #cccccc;
	display: inline-block;
	margin-right: 20px;
}

#footer p {
	font-size: 1.25em;
	color: #cccccc;
	display: inline-block;
	
}

#footer {
	height: 15vh;
	border: 2px solid red;
	background-image: url("../images/footer.jpg");
	background-size: cover;
	padding-left: 50px;
	background-position: right top;
	display: flex;
	align-items:center;
	margin-top: 200px;
}


